/* Helpers
  =============== */

// Classic clearfix
.clearfix::before,
.clearfix::after {
	content: " ";
	display: block;
}

.clearfix:after {
	clear: both;
}

// Text alignment
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

// Display
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

// Vertical center
.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Responsive images
.responsive-image {
	max-width: 100%;
	height: auto;
}

// Display State
.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

// Floats
.float-left {
	float: left;
}

.float-right {
	float: right;
}

// Padding
.no-padding-top {
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.padding-top {
	padding-top: 2rem;
}

.padding-bottom {
	padding-bottom: 2rem;
}

// Margins
.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-top {
	margin-top: 2rem;
}

.margin-bottom {
	margin-bottom: 2rem;
}

// Backgrounds
.alternate-background {
	background: $alternate-background;
	color: $alternate-color;
}

// Screen reader text for accessibility
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

// Reduced motion
@media (prefers-reduced-motion: reduce) { * { animation: none !important; transition: none !important; } }

// Lazy images
.lazy {
	margin: 0;
	padding: 0;
	background: $alternate-background;
	width: 100%;
	padding-bottom: var(--ratio);
	position: relative;
	height: 0;
	overflow: hidden;

	img {
		backface-visibility: hidden;
		//will-change: transform;
		transition: opacity 0.5s;
		width: 100%;
		max-width: 100%;
		display: block;
		color: transparent;
		position: absolute;
		top: 0;
		left: 0;
	}

	img[lazy=loading] {
		opacity: 0.25;
		filter: blur(1px) grayscale(100%);
	}

	img[lazy=loaded] {
		opacity: 1;
	}
}

// oembeds
.o-container {
	position: relative;
	padding-top: $margins;
	padding-bottom: 55.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: $margins;
}

.o-container iframe,
.o-container object,
.o-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.o-container:before,
.o-container:after {
	content: " ";
	display: table;
}

.o-container:after {
	clear: both;
}

// tooltips
.tooltip {
	position: relative;

	&:before,
	&:after {
		transition: all 0.3s;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		left: 50%;
	}

	&:before {
		width: 150px;
		background-color: $alternate-color;
		color: #fff;
		padding: 5px 0;
		font-size: 14px;
		bottom: 40%;
		margin-left: -75px;
		z-index: 1;
		content: attr(data-tooltip);
		text-align: center;
	}

	&:after {
		bottom: 20%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid $alternate-color;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}

	&:hover:after,
	&:hover:before {
		visibility: visible;
		opacity: 1;
		transform: translateY(-30px);
	}
}
