/* Navigation
  =============== */

.site-header {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.site-header-container {
	background: $alternate-color;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	max-width: inherit;
	width: 100%;
	z-index: 10;
	height: 55px;
	overflow: hidden;

	@include xlarge-breakpoint {
		width: 150px;
		height: 205px;
		top: $margins * 2;
		right: $margins * 2;
	}
}

.logo {
	background: $alternate-color;

	svg {
		fill: #fff;
		display: block;
		height: 30px;
		width: 100px;
		margin: 13px 15px;
	}

	&:hover {
		svg {
			fill: $primary-color;
		}
	}

	@include xlarge-breakpoint {
		height: 150px;

		svg {
			width: 100px;
			height: inherit;
			margin: 0 auto;
		}
	}
}

.navigation {
	width: 150px;
	height: 55px;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
	font-size: 20px;
	line-height: 30px;

	@include xlarge-breakpoint {
		height: 55px;
		bottom: 0;
		top: auto;
	}
}

.pagination {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	a {
		display: block;
		padding: 17px 24px 6px 24px;
		color: $alternate-color;
		background: $primary-color;
		text-decoration: none;
		text-align: center;

		@include xlarge-breakpoint {
			padding: 16px 24px 5px 24px;
		}

		svg {
			fill: $alternate-color;
		}

		&:hover,
		&:focus {
			background: darken($primary-color, 5%);

			svg {
				fill: #fff;
			}
		}
	}
}

.pagination-archive {
	li {
		width: 50%;
		height: 100%;
		float: left;

		&:last-child {
			a {
				margin-left: 1px;
			}
		}
	}
}
